<div class="card mt-3 shadow p-3 mb-5 bg-white rounded">

	<div class="card-header">
		<div class="float-left">
			<h2>Buscar cliente</h2>
		</div>
	</div>
	
	<div class="card-body">
		<form [formGroup]="buscaClienteForm">
			<div class="form-row">
                <label class="col-sm-0 col-form-label">CPF:</label>
				<div class="col-sm-2">
                    <input 
                        type="text" 
                        class="form-control"
                        formControlName="cpf"
                        placeholder="999.999.999-99"
                        (blur)="buscaCliente($event.target.value)" >
                </div>
            
                <label class="col-sm-0 col-form-label">Nome:</label>
				<div class="col-sm-4">
                    <input 
                        type="text" 
                        class="form-control"
                        formControlName="nome"
                        placeholder="Nome" 
                        disabled>
                </div>
                
				<label class="col-sm-0 col-form-label">Conta Corrente:</label>
				<div class="col-sm-2">
                    <input 
                        type="text" 
                        class="form-control"
                        formControlName="conta"
                        placeholder="9999-9" 
                        disabled>
				</div>
						
				<button 
                    class="btn btn-primary mb-1 btn-sm btn-pesquisar" 
                    (click)="entrarAgenda()"
                    [disabled]="buscaClienteForm.invalid">
                     Próximo
                </button>			
			</div>
		</form>
	</div>
</div>
