<div class="card mt-3 shadow p-3 mb-5 bg-white rounded">

	<div class="card-header">
		<div class="float-left">
			<h2>Consulta de cartoes</h2>
		</div>
		<div class="float-right">
			<button class="btn btn-primary mb-1 btn-sm" [routerLink]="['/cartoes/novo']">Novo</button>
		</div>
	</div>
	
	<div class="card-body">
		<form [formGroup]="pesquisarForm">
			<div class="form-row">
				<label class="col-sm-0 col-form-label">Bandeira:</label>
				<div class="col-sm-4">
					<select class="form-control" formControlName="bandeira" >
						<option value="">Selecione</option>
						<option 
							*ngFor="let bandeira of bandeiraCombo" 
							[ngValue]="bandeira.id">
							{{ bandeira.nomeBandeira }}
						</option>								
					</select>
				</div>
				<label class="col-sm-0 col-form-label cliente">Cliente:</label>
				<div class="col-sm-4">
					<select class="form-control" formControlName="cliente" >
						<option value="">Selecione</option>
						<option 
							*ngFor="let cliente of clienteCombo" 
							[ngValue]="cliente.id">
							{{ cliente.nome }}
						</option>								
					</select>
				</div>			
				<button 
					class="btn btn-primary mb-1 btn-sm btn-pesquisar"
					(click)="buscarCartoes()">
					Pesquisar</button>			
			</div>
			<!--<app-form-debug [form]="pesquisaForm" ></app-form-debug>-->
		</form>
	</div>
</div>
		
<table id="tabela" class="table table-bordered table-striped table-houver shadow p-3 mb-5 bg-white rounded" *ngIf="cartoes">
	<thead>
			<th>Bandeira</th>
			<th>CPF</th>
			<th>Cliente</th>
            <th>Data Criação</th>
            <th>Data Vencimento</th>
            <th>Valor Nominal</th>
			<th>Ações</th>
	</thead>
	<tbody>
		<tr *ngFor="let cartao of cartoes">
			<td>{{ cartao.bandeira.nomeBandeira }}</td>
            <td>{{ cartao.cliente.cpf }}</td>
            <td>{{ cartao.cliente.nome }}</td>
			<td>{{ cartao.dataCriacao |date:'dd-MM-yyyy' }}</td>
            <td>{{ cartao.dataVencimento |date:'dd-MM-yyyy' }}</td>
            <td>{{ cartao.valor |currency:'BRL':true }}</td>
			<td>
				<button 
					class="btn btn-warning mb-1 btn-sm" 
					routerLink="/cartoes/editar/{{ cartao.id }}">
					Alterar
				</button>

				<button 
					class="btn btn-danger mb-1 btn-sm"
					routerLink="/cartoes/deletar/{{ cartao.id }}">
					Excluir
				</button>
			</td>
		</tr>
	</tbody>				
</table>

