<div class="painel">
    <div class="card mt-1 shadow p-3 mb-5 bg-white rounded">

        <div class="card-header">
            <div class="float-left">
                <h2>Atualizar cartao</h2>
            </div>
        </div>

        <div class="card-body">
            <form [formGroup]="cartaoForm" (ngSubmit)="atualizarCartao()" class="form-horizontal">
               
                <div class="form-group" [ngClass]="aplicaCssErro('bandeira')">
                    <label class="col-sm-4 control-label">Bandeira:</label>
                    <div class="col-sm-4">
                        <select class="form-control" formControlName="bandeira" >
                            <option value="">Selecione</option>
                            <option 
                                *ngFor="let bandeira of bandeiraCombo" 
                                [ngValue]="bandeira">
                                {{bandeira.nomeBandeira}}
                            </option>								
                        </select>
                        <app-show-message-field
                            [mostrarErro]="verificaValidTouched('bandeira')" 
                            msgErro="Campo obrigatório.">
                        </app-show-message-field>		
                    </div>
                </div>

                <div class="form-group" [ngClass]="aplicaCssErro('cliente')">
                    <label class="col-sm-1 control-label">Cliente:</label>
                    <div class="col-sm-4">
                        <select class="form-control" formControlName="cliente">
                            <option value="">Selecione</option>
                            <option 
                                *ngFor="let cliente of clienteCombo" 
                                [ngValue]="cliente">
                                {{cliente.nome}}
                            </option>								
                        </select>
                        <app-show-message-field
                            [mostrarErro]="verificaValidTouched('cliente')" 
                            msgErro="Campo obrigatório.">
                        </app-show-message-field>		
                    </div>
                </div>
                
                <div class="form-group" [ngClass]="aplicaCssErro('dataVencimento')">
                    <label class="col-sm-4 control-label">Data de Vencimento:</label>
                    <div class="col-sm-4">
                        <input
                            class="form-control" 
                            formControlName="dataVencimento"
                            type="date"/>
                        <app-show-message-field
                            [mostrarErro]="verificaValidTouched('dataVencimento')" 
                            msgErro="Campo obrigatório.">
                        </app-show-message-field>
                    </div>
                </div> 

                <div class="form-group" [ngClass]="aplicaCssErro('valor')">
                    <label class="col-sm-4 control-label">Valor Nominal:</label>
                    <div class="col-sm-4">
                        <input                
                            class="form-control" 
                            formControlName="valor"
                            placeholder="999"/>
                        <app-show-message-field
                            [mostrarErro]="verificaValidTouched('valor')" 
                            msgErro="Campo obrigatório.">
                        </app-show-message-field>
                    </div>
                </div>   
                
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <button 
                            type="submit"
                            [disabled]="cartaoForm.invalid" 
                            class="btn btn-success mb-1 btn-sm">
                            Atualizar
                        </button>
                        <button 
                            (click)="cancelar()" 
                            class="btn btn-danger mb-1 btn-sm">
                            Cancelar
                        </button>
                    </div>
                </div>            
            </form>
        </div>
    </div>
</div>





